
Schalter-Karte_HW/Schalter-Karte_HW.kicad_sch
Schalter-Karte_HW/Schalter-Karte_HW.kicad_pro
Schalter-Karte_HW/Schalter-Karte_HW.kicad_prl
Schalter-Karte_HW/Schalter-Karte_HW.kicad_pcb
Schalter-Karte_HW/Schalter-Karte_HW-backups/Schalter-Karte_HW-2026-03-19_220720.zip
Schalter-Karte_HW/fp-info-cache
Schalter-Karte_HW/~Schalter-Karte_HW.kicad_pcb.lck
/Schalter-Karte_HW/Schalter-Karte_HW-backups
Schalter-Karte_HW/~Schalter-Karte_HW.kicad_sch.lck
Schalter-Karte_HW/archive_3d_models.log
/Schalter-Karte_HW/Footprints.pretty
Schalter-Karte_HW/fp-lib-table
Schalter-Karte_HW/sym-lib-table
Schalter-Karte_HW/Symbols.kicad_sym
